.App {
    background-color: #1a1818;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.word {
    height: 2.5rem;
    width: 18.5rem;
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.word-letter {
    color: white;
    font-weight: bold;
    font-size: 1.125rem;
    border: 2px solid red;
    border-radius: 15%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.keyboard {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
}

.keyboard > div {
    display: flex;
    gap: 0.125rem;
    justify-content: center;
}

.game-over-txt {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}
